In [1]:
import sqlite3

In [1]:
connection = sqlite3.connect('tabela.db')

cr = connection.cursor()

sql_command = """CREATE TABLE Cliente (  
CPF NUMERIC(12,0) PRIMARY KEY,  
Nome VARCHAR(30) NOT NULL,  
Sexo CHAR(1) NOT NULL,  
Telefone VARCHAR(15) NOT NULL,
Email VARCHAR(40) NOT NULL,
Nascimento DATE NOT NULL);"""

cr.execute(sql_command)

sql_command = """CREATE TABLE Loja (  
LID NUMERIC(12,0) PRIMARY KEY,  
Tipo VARCHAR(30) NOT NULL,  
NomeLoja VARCHAR(30) NOT NULL,  
Endereco VARCAR(40) NOT NULL,
Telefone VARCHAR(15) NOT NULL,
PosicaoX NUMERIC(3,2) NOT NULL,
PosicaoY NUMERIC(3,2) NOT NULL);"""

cr.execute(sql_command)

sql_command = """CREATE TABLE Produto (  
ID NUMERIC(12,0) PRIMARY KEY,  
NomeProduto VARCHAR(30) NOT NULL,  
Categoria VARCHAR(30) NOT NULL,  
Telefone NUMERIC(10,0) NOT NULL,
Email VARCHAR(40) NOT NULL,
Comprado CHAR(1) NOT NULL,
Preco NUMERIC(4,2) NOT NULL,
LojaID NUMERIC(12,0) NOT NULL,
ClienteID NUMERIC(12,0),
DataCompra DATE,
HrCompra CHAR(5),
FOREIGN KEY (ClienteID) REFERENCES Cliente (CPF),
FOREIGN KEY (LojaID) REFERENCES Loja (LID));"""

cr.execute(sql_command)

connection.commit()

connection.close()

NameError: name 'sqlite3' is not defined

### Lista de Compra de Clientes

In [ ]:
cpf = input('Qual CPF?')

connection = sqlite3.connect('tabela.db')

cr = connection.cursor()

cr.execute("SELECT Nome, DataCompra, HrCompra, COUNT(DISTINCT ID) FROM Produto WHERE ClienteID=(?) GROUP BY Nome", (cpf))

res = cr.fetchall()

for i in res:
    print(i)

### Atualizar lista de compra

In [ ]:
cpf = input('CPF do comprador')

ID = input('ID do produto comprado')

hr = input('Hora da compra')

data = input('Data da compra')

connection = sqlite3.connect('tabela.db')

cr = connection.cursor()

cr.execute("UPDATE Produto SET ClienteID = (?), DataCompra = (?), HrCompra = (?) WHERE ID = (?)", (cpf, data, hr, ID))

connection.commit()

### Localizar lojas

In [ ]:
tip = input('Qual o tipo da loja?')

r = input('Qual o raio aceit√°vel')

x = input('Coordenada x')

y = input('Coordenada y')

produto = input('Nome do produto')

connection = sqlite3.connect('tabela.db')

cr = connection.cursor()

cr.execute("SELECT NomeLoja, Endereco FROM Loja NATURAL JOIN Produto WHERE (((?)*(?)) + ((?)*(?)) <= (?)) AND NomeProduto = (?) AND Tipo = (?)", (x,x,y,y,r,produto,tip))

connection.commit()